/*------------ single--------------------*/
.meta{
    margin-bottom: 20px;
}
.value{
    font-size: 30px;
}
#singlemap,
#pano {
    position: relative;
    height: 400px;
}
#singlemap .leaflet-control-zoom{
    position: relative;
    right: -30px;
    top: 0px;
}

#singlemap .leaflet-control-zoom{
    display:none;
}
.content .row{
    margin:10px 0;
}
.content .table > thead > tr > th{
    vertical-align: middle;
}
pre.ui-output {
    display:none;
    }
pre.ui-output:empty { padding:0; }
/*------------ carte edit--------------------------*/
#editmap{
    height:500px;
    margin-bottom: 20px;
}
#editmap .leaflet-control-zoom{
    position: relative;
    right: 0;
    top: 0;
}

/*------------ carte fullscreen--------------------*/
#map {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#map .leaflet-control-layers{
    position: relative;
    top: 100px;
}
#loading {
    position: absolute;
    z-index:100;
    top:40%;
    left:43%;
    font-size: 50px;
}

.container-full .alert{
    display: none;
    position: fixed;
    z-index: 100;
    width: 20%;
    right: 20%;
}

.gmnoprint{
    z-index: 100 !important;
}


#map-ui {
    position: fixed;
    top: 60px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#map-ui a {
    font-size:  13px;
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
}

#map-ui a:hover {
    background: #767676;
	color:#fff;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui a.active {
    background: #F58220;
    border-color: #fff;
    border-top-color: #FFF;
    color: #FFF;
}

/*------------ popup --------------------*/
.leaflet-popup-content{
    width: 400px !important;
}
.leaflet-popup-content .row{
    margin: 15px 0;
}
/*------------ Charts --------------------*/
.nvd3-svg {
  height: 300px !important;
}
#occupation .nvd3-svg {
    height: 500px !important;
}

.search .container{
        width:1100px;
    }

@media (min-width: 992px) and (max-width: 1199px) {
    .search .container{
        width:700px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .search .container{
        width:650px;
    }
}